# NOAA data - Get station locations

One can get the NOAA hourly precipitation data here: https://www.ncdc.noaa.gov/cdo-web/search?datasetid=PRECIP_HLY#


This notebook gets the geographic coordinates of the locations of the gauges from the CSV file product.
The sample used here is for April 2013, for Illinois state.

In [1]:
%pylab inline

import pandas as pd

Populating the interactive namespace from numpy and matplotlib

Set the file path of the CSV file.

In [4]:
fname = 'C:/Users/irene/Documents/Work/Data/NCDC_NOAA/NOAA_HourlyPrecip_April2013.csv'

Read the file as a pandas dataframe.

In [5]:
df = pd.read_csv(fname,header=0)

In [6]:
df.head()

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,HPCP,Measurement Flag,Quality Flag
0,COOP:111302,CARMI 3 IL US,102.1,38.0733,-88.1805,20130422 09:00,25399.75,],
1,COOP:111302,CARMI 3 IL US,102.1,38.0733,-88.1805,20130423 14:00,2.54,,
2,COOP:111302,CARMI 3 IL US,102.1,38.0733,-88.1805,20130424 01:00,2.54,,
3,COOP:111302,CARMI 3 IL US,102.1,38.0733,-88.1805,20130424 04:00,2.54,,
4,COOP:111302,CARMI 3 IL US,102.1,38.0733,-88.1805,20130424 08:00,2.54,,

Check how many stations there are.

In [7]:
len(df['STATION_NAME'].unique())

58

Since for this notebook we are only interested in the station locations and not the measured data, we can drop the duplicates based on the `STATION` parameter.

In [8]:
df_station_locations = df.drop_duplicates('STATION')[['STATION','STATION_NAME','LATITUDE','LONGITUDE']]

In [9]:
df_station_locations.head()

,STATION,STATION_NAME,LATITUDE,LONGITUDE
0,COOP:111302,CARMI 3 IL US,38.0733,-88.1805
5,COOP:115825,MORRIS 1 NW IL US,41.3708,-88.4336
40,COOP:111664,CISNE 2 S IL US,38.5047,-88.4094
51,COOP:111743,CLINTON 1 SSW IL US,40.1376,-88.9674
85,COOP:111549,CHICAGO OHARE INTERNATIONAL AIRPORT IL US,41.9950,-87.9336

Save the dataframe as a CSV file.

In [10]:
df_station_locations.to_csv('noaa_station_locations.csv',index=False)